:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(247, 247, 247);
  background-color: rgb(10, 10, 10);
  --bg-color: rgb(10, 10, 10);
  --bg-color-2: rgb(150, 150, 150);
  --bg-color-3: rgb(50, 50, 50);
  --bg-color-4: rgb(75, 75, 75);
  --text-color: rgb(200, 200, 200);
  --text-danger: rgb(200, 0, 0);
  --bg-danger: rgb(100, 0, 0);
  --text-danger-2: rgb(150, 0, 0);
  --bg-danger-2: rgb(50, 0, 0);
}

body {
  margin: 0;
}
